<!DOCTYPE html>
<html>
<head>
  <title>RhombusEdi</title>
  <%= stylesheet_link_tag "rhombus_edi/application", media: "all" %>
  <%= javascript_include_tag "rhombus_edi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
