<%= link_to new_admin_edi_task_path, class: 'pull-right btn btn-sm btn-default' do %>
  <i class="fa fa-plus"></i> New EDI task
<% end %>
<h2><i class="fa fa-clock-o"></i> EDI Tasks</h2>
<table class="table table-striped table-condensed">
	<tr>
		<th></th>
    <th>FTP Server</th>
		<th>Affiliate</th>
		<th>Document Type</th>
    <th>Email</th>
    <th>Printer</th>
    <th>Active</th>
    <th class="actions">&nbsp;</th>
	</tr>
	<%= render @edi_tasks %>
</table>

<%= render 'admin/shared/table_summary', data: @edi_tasks %>


<% content_for :title do %>
	EDI Schedule
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">EDI Settings</a></li>
	<li class="active">Tasks</li>
<% end %>

