<%= link_to "new task", new_admin_edi_task_path, class: 'pull-right btn btn-sm btn-default'%>
<h2><i class="fa fa-clock-o"></i> EDI Tasks</h2>
<table class="table table-striped table-condensed">
	<tr>
		<th></th>
    <th>FTP Server</th>
		<th>Affiliate</th>
		<th>Document Type</th>
    <th>Email</th>
    <th>Printer</th>
    <th>Active</th>
    <th class="actions">&nbsp;</th>
	</tr>
	<%= render @edi_tasks %>
</table>


<% content_for :title do %>
	EDI Schedule
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">EDI Settings</a></li>
	<li class="active">Tasks</li>
<% end %>

